{% extends '_base.html' %}

{% block content %}
  <h2>پروژه: {{ project.title }}</h2>
  <p>{{ project.description }}</p>

  <h3>تسک‌ها:</h3>
  <ul>
    {% for task in tasks %}
      <li>{{ task.title }} - {{ task.status }} (مهلت: {{ task.deadline }})</li>
      <form action="{% url 'task_update_status' task.id %}" method="post" style="display:inline;">
        {% csrf_token %}
        <select name="status" onchange="this.form.submit()">
          {% for key, value in task.STATUS_CHOICES %}
              <option value="{{ key }}" {% if task.status == key %}selected{% endif %}>{{ value }}</option>
          {% endfor %}
        </select>
      </form>

      <a href="{% url 'task_edit' task.id %}">✏️ ویرایش</a>
      <form method="post" action="{% url 'task_delete' task.id %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit" onclick="return confirm('مطمئنی؟')">🗑️ حذف</button>
      </form>
    {% empty %}
      <li>تسکی وجود ندارد.</li>
    {% endfor %}
  </ul>




  <a href="{% url 'task_create' project.id %}">➕ تسک جدید</a>
{% endblock %}
